
<ion-header>
  <ion-toolbar class="header">
    <br><br><br>
    Veuillez entrer le numéro de référence du client et le montant à payer :
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-item>
      <ion-input placeholder="Numéro de référence" type="tel" style="text-align: center;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Montant à payer" type="somme" style="text-align: center;"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="valider" expand="full"  
          shape="round" size="small"><p style="color: white;">Valider</p></ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="annuler" expand="full" 
          shape="round" size="small"><p style="color: white;">Annuler</p></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>