.header{
    --background: #33AEB5;
    color: white;
    padding-bottom: 15%;
    font-size: 18px;
    text-align: center;
}

ion-item{
    margin-top: 10%;
}

.valider{
    --background: #182a7c;
}

.annuler{
    --background: #791515;
}
