<ion-header>
  <ion-toolbar class="header">
    <br>
    <br><br>
    Entrez le numéro du bénéficiaire et le montant
  <section>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" color="light" shape="round" size="small">Wallet</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" color="light" shape="round" size="small">Carte bancaire</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <p style="text-align: center; margin-bottom: 0%;">Transfert d'argent par :</p><br>
    <ion-img class="logoOrange" src="./assets/logo-icon/wizall.png"></ion-img>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-input placeholder="Numero de telephone" type="tel" style="text-align: center;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Montant" type="somme" style="text-align: center;"></ion-input>
    </ion-item>
    <ion-button expand="block" style="color: #33AEB5; width: 30%; margin-left: 35%; margin-top: 5%;" shape="round" size="small"><p style="color: white;">Valider</p></ion-button>
  </ion-content>
</ion-content>