.header{
    --background: #33AEB5;
    color: white;
    padding-bottom: 17%;
    font-size: 20px;
    text-align: center;
}

.title-wallet{
    font-size: 17px;
    text-align: center;
}

ion-card{
    height: 85%;
    margin: auto;
}